.groupflipcard {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
.groupflipcard:hover {
  transform: rotateY(180deg);
  transition-delay: 500;
  transition-duration: 2000;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.groupflipcard:focus {
  transform: rotateY(180deg);
}

.flipcardface {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 20%;
  backface-visibility: hidden;
}
.flipcardface:hover {
  transform: rotateY(180deg);
  transition-delay: 500;
  transition-duration: 2000;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* 
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
} */
/* 
@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
